.oh{
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}
.btn-ac {
    padding: 50px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
    &_50 {
        width: 50%;
    }
}
.checkInViewport {
}













