@import '_reset';
@import '_help';

:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Russo One", sans-serif;
    --font3: "Source Sans Pro", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4, 0, .2, 1);
    --black: #0c0c0d;
    --blue: #00265e;
    --gray: #efefef;
    --graylight: #f3f3f3;
    --red: #c92628;
    --bordercolor: #dcdcdc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    font-family: var(--font-family);
    font-variant-numeric: lining-nums proportional-nums;
}

.main {
    padding-top: 128px;
}
.contaner {
    width: 100%;
    max-width: 1564px;
    margin: 0 auto;
    padding: 0 20px;
}
.article {
    padding: 120px 0;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--bordercolor);
        bottom: 0;
        left: 0;
    }
    &_gray {
        background: var(--gray);
    }
    &_title{
        padding: 40px 0 80px;
        h2, h3{
            margin-bottom: 24px;
            position: relative;
            z-index: 10;
        }
    }
    &_catalog{
        padding: 40px 0 0;
        .products__list{
            margin-bottom: 40px !important;
        }
        &:after{
            display: none;
        }
    }
    &_nop{
        padding: 0;
    }
    &_sphere{
        padding: 40px 0 100px 0;
        .breadcrumbs{
            margin-bottom: 70px;
        }
    }
    &_head{
        padding: 40px 0;
    }
}
.grid {
    display: grid;
    gap: 24px;
    grid-template: 1fr / 1fr 1fr;
    &__col {
        &_desc {
            h2 {
                margin-bottom: 24px;
            }

            position: relative;

            &-title {
                padding-bottom: 180px;

                .pic {
                    position: absolute;
                    bottom: 50px;
                    left: 50px;
                }
            }
        }
        &_pic {}
    }
    &_table{
        .grid__col{
            padding-left: 50px;
            &:first-child{
                border-right: 1px solid var(--bordercolor);
                padding: 0;
            }
            h3{
                position: relative;
                height: 96px;
                display: flex;
                align-items: center;
                font-size: 24px;
                line-height: 135%;
                padding: 32px 32px 32px 0;
                margin: 0;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 2000%;
                    height: 1px;
                    background: var(--bordercolor);
                    bottom: 0;
                    left: -500px;
                  }
            }
            .list{
                padding: 32px 32px 80px 0;
            }
        }
    }
}
.parallax {
    height: 600px;
    position: relative;
    overflow: hidden;

    &__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        height: 100%;
        width: auto;
        max-width: none;
        left: 0;
    }
}
.about {
    &__link{
        text-decoration: underline;
        font-size: 14px;
        letter-spacing: 0.03em;
        display: inline-block;
        &:hover{
            text-decoration: none;
        }
    }
    .parallax{
        height: 600px;
    }
}
blockquote {
    padding: 0 30px;
    margin: 32px 0;
    font-size: inherit;
    border-left: 4px solid var(--red);
}
.title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 16px;
        line-height: 158%;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
.intro {
    background: var(--gray) url(../img/intro.png) no-repeat 160% -200px/auto 971px;
}
.side{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    border-right: 1px solid var(--bordercolor);
    &__inner{
        width: 34px;
        height: 34px;
        position: absolute;
        right: -17px;
        top: 50%;
        background: red;
    }
    &__title{
        position: absolute;
        right: -60px;
        top: 2px;
        height: 34px;
        border: 1px solid var(--bordercolor);
        border-radius: 17px;
        padding: 0 16px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transform: rotate(-90deg);
        font-size: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        svg{
            position: absolute;
            left: 12px;
            top: 12px;
            stroke-width: 2;
            transform: rotate(90deg);
        }
    }
}
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    li{
        font-size: 14px;
        a{
            color: #9d9d9d;
            transition: var(--transition);
            &:after{
                content: '/';
                margin-left: 16px;
                color: var(--red);
            }
            &:hover{
                color: var(--black);
            }
        }
    }
}
.filter{
    margin-bottom: 36px;
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;
        &_sub{
            .filter__item{
                height: 30px;
                border: 1px solid transparent;
                &:hover, &.act{
                    border: 1px solid var(--bordercolor);
                    background: var(--gray);
                }
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item{
        cursor: pointer;
        height: 34px;
        padding: 0 16px;
        border-radius: 17px;
        border: 1px solid var(--bordercolor);
        font-size: 14px;
        text-transform: uppercase;
        transition: var(--transition);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover, &.act{
            border: 1px solid var(--red);
        }
    }
    
}
.pag-wrap {
    border-top: 1px solid var(--bordercolor);
    .contaner{
        display: flex;
        justify-content: flex-end;
    }
}
.pag {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 68px;
        font-size: 18px;
        letter-spacing: 0.03em;
        transition: var(--transition);
        svg{
            fill: transparent;
            stroke: var(--red);
            width: 8px;
            height: 15px;
        }
        &:hover, &.act{
            background: var(--gray);
        }
    }
}
.list {
    li{
        line-height: 120%;
        margin-bottom: 16px;
        padding-left: 24px;
    }
    &_check {
        li{
            background: url(../img/icon_check.svg) no-repeat left 6px;
        }
    }
    &_disc {
        li{
            background: url(../img/icon_disc.svg) no-repeat left 6px;
        }
    }
}

















































@import '_query';