@import '_reset';


:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Russo One", sans-serif;
    --font3: "Source Sans Pro", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4, 0, .2, 1);
    --black: #0c0c0d;
    --blue: #00265e;
    --gray: #efefef;
    --graylight: #f3f3f3;
    --red: #c92628;
    --bordercolor: #dcdcdc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    font-family: var(--font-family);
    font-variant-numeric: lining-nums proportional-nums;
}

.main {
    padding-top: 128px;
}

.contaner {
    width: 100%;
    max-width: 1564px;
    margin: 0 auto;
    padding: 0 20px;

    &::before {}
}

.article {
    padding: 120px 0;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--bordercolor);
        bottom: 0;
        left: 0;
    }
    &_gray {
        background: var(--gray);
    }
    &_title{
        padding: 40px 0 80px;
        h2, h3{
            margin-bottom: 24px;
            position: relative;
            z-index: 10;
        }
    }
    &_catalog{
        padding: 40px 0 0;
        .products__list{
            margin-bottom: 40px;
        }
        &:after{
            display: none;
        }
    }
    &_nop{
        padding: 0;
    }
    
}



.btn:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    -moz-transition: transform .9s cubic-bezier(.77, 0, .175, 1) .3s,
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    -o-transition: -o-transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .3s, background-color .2s ease-in-out;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .3s,
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .3s,
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .3s,
    -o-transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    background-color: var(--blue);
    backface-visibility: hidden;
}
.btn:before {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid var(--blue);
    border-radius: 0px;
    backface-visibility: hidden;
    transition: var(--transition);
}
.btn__top {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .3s;
    transform: translateY(0%);
    background-color: transparent;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
}
.btn__bottom {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-transition: -webkit-transform .3s;
    -webkit-transition: background-color .9s cubic-bezier(.77, 0, .175, 1) .5s, -webkit-transform .9s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: transform .3s, -moz-transform .3s;
    -moz-transition: transform .9s cubic-bezier(.77, 0, .175, 1), background-color .9s cubic-bezier(.77, 0, .175, 1) .5s,
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1);
    -o-transition: -o-transform .3s;
    -o-transition: background-color .9s cubic-bezier(.77, 0, .175, 1) .5s, -o-transform .9s cubic-bezier(.77, 0, .175, 1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
    transition: background-color .9s cubic-bezier(.77, 0, .175, 1) .5s, -webkit-transform .9s cubic-bezier(.77, 0, .175, 1);
    transition: transform .9s cubic-bezier(.77, 0, .175, 1), background-color .9s cubic-bezier(.77, 0, .175, 1) .5s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1), background-color .9s cubic-bezier(.77, 0, .175, 1) .5s, -webkit-transform .9s cubic-bezier(.77, 0, .175, 1), -moz-transform .9s cubic-bezier(.77, 0, .175, 1), -o-transform .9s cubic-bezier(.77, 0, .175, 1);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.btn__bottom .btn__text {
    color: var(--blue);
}
.btn:hover:after {
    -webkit-transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1);
    -webkit-transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    -moz-transition: transform .9s cubic-bezier(.77, 0, .175, 1), 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: transform .9s cubic-bezier(.77, 0, .175, 1) .05s, 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    -o-transition: -o-transform .9s cubic-bezier(.77, 0, .175, 1);
    -o-transition: -o-transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1);
    transition: transform .9s cubic-bezier(.77, 0, .175, 1);
    transition: transform .9s cubic-bezier(.77, 0, .175, 1), 
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1), 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1), 
    -o-transform .9s cubic-bezier(.77, 0, .175, 1);
    transition: -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .05s, 
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .05s, 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .05s, 
    -o-transform .9s cubic-bezier(.77, 0, .175, 1) .05s;
    -webkit-transform: translateY(101%);
    -moz-transform: translateY(101%);
    -ms-transform: translateY(101%);
    -o-transform: translateY(101%);
    transform: translateY(101%);
}
.btn:hover .btn__top {
    z-index: 2;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.895, .03, .685, .22);
    -moz-transition: transform .4s cubic-bezier(.895, .03, .685, .22), 
    -moz-transform .4s cubic-bezier(.895, .03, .685, .22);
    -o-transition: -o-transform .4s cubic-bezier(.895, .03, .685, .22);
    transition: -webkit-transform .4s cubic-bezier(.895, .03, .685, .22);
    transition: transform .4s cubic-bezier(.895, .03, .685, .22);
    transition: transform .4s cubic-bezier(.895, .03, .685, .22), 
    -webkit-transform .4s cubic-bezier(.895, .03, .685, .22), 
    -moz-transform .4s cubic-bezier(.895, .03, .685, .22), 
    -o-transform .4s cubic-bezier(.895, .03, .685, .22);
    transition: transform .4s cubic-bezier(.895, .03, .685, .22), 
    -webkit-transform .4s cubic-bezier(.895, .03, .685, .22);
    -webkit-transform: translateY(101%);
    -moz-transform: translateY(101%);
    -ms-transform: translateY(101%);
    -o-transform: translateY(101%);
    transform: translateY(101%);
}
.btn:hover .btn__bottom {
    -webkit-transition: background-color .9s cubic-bezier(.77, 0, .175, 1) 0s, 
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .2s;
    -moz-transition: transform .9s cubic-bezier(.77, 0, .175, 1) .2s, 
    background-color .9s cubic-bezier(.77, 0, .175, 1) 0s, 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .2s;
    -o-transition: background-color .9s cubic-bezier(.77, 0, .175, 1) 0s, 
    -o-transform .9s cubic-bezier(.77, 0, .175, 1) .2s;
    transition: background-color .9s cubic-bezier(.77, 0, .175, 1) 0s, 
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .2s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .2s, 
    background-color .9s cubic-bezier(.77, 0, .175, 1) 0s;
    transition: transform .9s cubic-bezier(.77, 0, .175, 1) .2s, 
    background-color .9s cubic-bezier(.77, 0, .175, 1) 0s, 
    -webkit-transform .9s cubic-bezier(.77, 0, .175, 1) .2s, 
    -moz-transform .9s cubic-bezier(.77, 0, .175, 1) .2s, 
    -o-transform .9s cubic-bezier(.77, 0, .175, 1) .2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.btn__text {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
}
.btn {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: 58px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    transition: .2s;
    border-radius: 0;
    justify-content: center;
    &__invis {
        opacity: 0;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
    }
    &_invert{
        background-color: var(--blue);
        border: 0;
        &:before{
            border-color: var(--blue);
        }
        &:after{
            background-color: #fff;
        }
        .btn__top{
            .btn__text {
                color: var(--blue);
            }
        }
        .btn__bottom{
            .btn__text {
                color: #fff;
            }
        }
    }
}







.grid {
    display: grid;
    gap: 24px;
    grid-template: 1fr / 1fr 1fr;
    &__col {
        &_desc {
            h2 {
                margin-bottom: 24px;
            }

            position: relative;

            &-title {
                padding-bottom: 180px;

                .pic {
                    position: absolute;
                    bottom: 50px;
                    left: 50px;
                }
            }
        }
        &_pic {}
    }
    &_table{
        .grid__col{
            padding-left: 50px;
            &:first-child{
                border-right: 1px solid var(--bordercolor);
                padding: 0;
            }
            h3{
                position: relative;
                height: 96px;
                display: flex;
                align-items: center;
                font-size: 24px;
                line-height: 135%;
                padding: 32px 32px 32px 0;
                margin: 0;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 2000%;
                    height: 1px;
                    background: var(--bordercolor);
                    bottom: 0;
                    left: -500px;
                  }
            }
            .list{
                padding: 32px 32px 80px 0;
            }
        }
    }
}

.parallax {
    height: 600px;
    position: relative;
    overflow: hidden;

    &__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        height: 100%;
        width: auto;
        max-width: none;
        left: 0;
    }
}

blockquote {
    padding: 0 30px;
    margin: 0 0 24px;
    font-size: inherit;
    border-left: 4px solid var(--red);
}

.title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 16px;
        line-height: 158%;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.intro {
    background: var(--gray) url(../img/intro.png) no-repeat 160% -200px/auto 971px;
}

.side{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    border-right: 1px solid var(--bordercolor);
    &__inner{
        width: 34px;
        height: 34px;
        position: absolute;
        right: -17px;
        top: 50%;
        background: red;
    }
    &__title{
        position: absolute;
        right: -60px;
        top: 2px;
        height: 34px;
        border: 1px solid var(--bordercolor);
        border-radius: 17px;
        padding: 0 16px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transform: rotate(-90deg);
        font-size: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        svg{
            position: absolute;
            left: 12px;
            top: 12px;
            stroke-width: 2;
            transform: rotate(90deg);
        }
    }
}
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    li{
        font-size: 14px;
        a{
            color: #9d9d9d;
            transition: var(--transition);
            &:after{
                content: '/';
                margin-left: 16px;
                color: var(--red);
            }
            &:hover{
                color: var(--black);
            }
        }
    }
}
.filter{
    margin-bottom: 36px;
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;
        &_sub{
            .filter__item{
                height: 30px;
                border: 1px solid transparent;
                &:hover, &.act{
                    border: 1px solid var(--bordercolor);
                    background: var(--gray);
                }
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item{
        cursor: pointer;
        height: 34px;
        padding: 0 16px;
        border-radius: 17px;
        border: 1px solid var(--bordercolor);
        font-size: 14px;
        text-transform: uppercase;
        transition: var(--transition);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover, &.act{
            border: 1px solid var(--red);
        }
    }
    
}
.pag-wrap {
    border-top: 1px solid var(--bordercolor);
    .contaner{
        display: flex;
        justify-content: flex-end;
    }
}
.pag {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 68px;
        font-size: 18px;
        letter-spacing: 0.03em;
        transition: var(--transition);
        svg{
            fill: transparent;
            stroke: var(--red);
            width: 8px;
            height: 15px;
        }
        &:hover, &.act{
            background: var(--gray);
        }
    }
}
.list {
    li{
        line-height: 120%;
        margin-bottom: 16px;
        padding-left: 24px;
    }
    &_check {
        li{
            background: url(../img/icon_check.svg) no-repeat left 6px;
        }
    }
    &_disc {
        li{
            background: url(../img/icon_disc.svg) no-repeat left 6px;
        }
    }
}









.article_spheres-intro{
    height: 416px;
    h2{
        max-width: 450px;
    }
    .spheres-bg{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        z-index: 1;
        -webkit-clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.spheres {
    &__list {
        display: grid;
        gap: 24px;
        grid-template: auto/1fr 1fr;
    }
    &__item {}
    
    &__link-front, &__link-back {
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: var(--transition05);
    }
    &__link-front{
        background: #fff;
        position: relative;
        z-index: 1;
        background: var(--graylight);
        padding: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid transparent;
    }
    &__link-back {
        z-index: 0;
        transform: rotateY(-180deg);
        position: absolute;
        border: 1px solid #000;
        background: #fff;
        padding: 40px;
        padding-right: 140px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid var(--bordercolor);
        .spheres__link-body{
            max-height: 200px;
            align-items: flex-start;
            overflow: auto;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        height: 400px;
        &:hover, &.act{
            .spheres__link-front{
                z-index: 0;
                transform: rotateY(180deg);
            }
            .spheres__link-back{
                z-index: 1;
                transform: rotateY(0deg);
            }
        }
    }
    &__link-body {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 242px;
        }
    }
    &__link-name {
        font-weight: 600;
        font-size: 24px;
    }
    &__link-arr {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--red) url(../img/icon_arrow.svg) no-repeat center center;
        transition: var(--transition);
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        z-index: 10;
        &:hover{
            transform: scale(1.1)
        }
    }
}








































@import '_query';