* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

h1,
h2 {
  margin: 0 0 40px;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  margin: 0 0 12px;
  font-weight: 600;
}

h1 {
  font-size: 60px;
  line-height: 110%;
}

h2 {
  font-size: 32px;
  line-height: 120%;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

input,
select,
textarea {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  border: 0;
  padding: 0;
}

p {
  margin: 0 0 16px;
  font-weight: 400;
}
p:last-child {
  margin: 0;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  color: var(--black);
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

table th {
  font-weight: 400;
}

table th,
table td {
  border: 0;
  padding: 0;
}

* *:last-child {
  margin-bottom: 0;
}
*:last-child {
  margin-bottom: 0;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Russo One", sans-serif;
  --font3: "Source Sans Pro", sans-serif;
  --transition: all 0.2s ease-in-out;
  --transition05: all 0.5s ease-in-out;
  --transitionbtn: all 0.8s cubic-bezier(.4, 0, .2, 1);
  --black: #0c0c0d;
  --blue: #00265e;
  --gray: #efefef;
  --red: #c92628;
  --bordercolor: #dcdcdc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background: #fff;
  font-family: var(--font-family);
  font-variant-numeric: lining-nums proportional-nums;
}

.main {
  padding-top: 128px;
}

.contaner {
  width: 100%;
  max-width: 1564px;
  margin: 0 auto;
  padding: 0 20px;
}
.article {
  padding: 120px 0;
  position: relative;
}
.article_gray {
  background: var(--gray);
}
.article_title {
  padding: 40px 0 64px;
}
.article:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--bordercolor);
  bottom: 0;
  left: 0;
}

.btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, background-color 0.2s ease-in-out;
  transform: translateY(0%);
  background-color: var(--blue);
  backface-visibility: hidden;
}

.btn:before {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid var(--blue);
  border-radius: 0px;
  backface-visibility: hidden;
  transition: var(--transition);
}

.btn__top {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transform: translateY(0%);
  background-color: transparent;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.btn__bottom {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: inline-block;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  transition: transform 0.3s;
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  transform: translateY(100%);
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.btn__bottom .btn__text {
  color: var(--blue);
}

.btn:hover:after {
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0.05s;
  transform: translateY(101%);
}

.btn:hover .btn__top {
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transform: translateY(101%);
}

.btn:hover .btn__bottom {
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0.2s, background-color 0.9s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transform: translateY(0);
}

.btn__text {
  transition: 0.2s;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.btn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: 58px;
  padding-right: 40px;
  padding-left: 40px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
  justify-content: center;
}
.btn__invis {
  opacity: 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.btn_invert {
  background-color: var(--blue);
  border: 0;
}
.btn_invert:before {
  border-color: var(--blue);
}
.btn_invert:after {
  background-color: #fff;
}
.btn_invert .btn__top .btn__text {
  color: var(--blue);
}
.btn_invert .btn__bottom .btn__text {
  color: #fff;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template: 1fr/1fr 1fr;
}
.grid__col_desc {
  position: relative;
}
.grid__col_desc h2 {
  margin-bottom: 24px;
}
.grid__col_desc-title {
  padding-bottom: 180px;
}
.grid__col_desc-title .pic {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.parallax {
  height: 600px;
  position: relative;
  overflow: hidden;
}
.parallax__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  height: 100%;
  width: auto;
  max-width: none;
  left: 0;
}

blockquote {
  padding: 0 30px;
  margin: 0 0 24px;
  font-size: inherit;
  border-left: 4px solid var(--red);
}

.title-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-link a {
  font-size: 16px;
  line-height: 158%;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}
.title-link a:hover {
  text-decoration: none;
}

.intro {
  background: var(--gray) url(../img/intro.png) no-repeat 160% -200px/auto 971px;
}

.side {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  border-right: 1px solid var(--bordercolor);
}
.side__inner {
  width: 34px;
  height: 34px;
  position: absolute;
  right: -17px;
  top: 50%;
  background: red;
}
.side__title {
  position: absolute;
  right: -60px;
  top: 2px;
  height: 34px;
  border: 1px solid var(--bordercolor);
  border-radius: 17px;
  padding: 0 16px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transform: rotate(-90deg);
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
.side__title svg {
  position: absolute;
  left: 12px;
  top: 12px;
  stroke-width: 2;
  transform: rotate(90deg);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}
.breadcrumbs li a {
  color: #9d9d9d;
  transition: var(--transition);
}
.breadcrumbs li a:after {
  content: "/";
  margin-left: 16px;
  color: var(--red);
}
.breadcrumbs li a:hover {
  color: var(--black);
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.filter__list_sub .filter__item {
  height: 30px;
  border: 1px solid transparent;
}
.filter__list_sub .filter__item:hover, .filter__list_sub .filter__item.act {
  border: 1px solid var(--bordercolor);
  background: var(--gray);
}
.filter__item {
  cursor: pointer;
  height: 34px;
  padding: 0 16px;
  border-radius: 17px;
  border: 1px solid var(--bordercolor);
  font-size: 14px;
  text-transform: uppercase;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__item:hover, .filter__item.act {
  border: 1px solid var(--red);
}/*# sourceMappingURL=main.css.map */