.about {
    &__link{
        text-decoration: underline;
        font-size: 14px;
        letter-spacing: 0.03em;
        display: inline-block;
        margin-top: 16px;
        &:hover{
            text-decoration: none;
        }
    }
    .parallax{
        height: 640px;
    }
}