.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: var(--transition);
  z-index: 100;
  background: var(--gray);
  z-index: 1000;
  position: relative;
}
.header:after {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 1px;
  background: var(--bordercolor);
  bottom: 0;
  left: 0;
}
.header__contaner {
  width: 100%;
  max-width: 1864px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template: 128px/286px auto 216px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--bordercolor);
}
.header__logo .menu-btn {
  display: none;
}
.header__contact {
  border-left: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
  display: grid;
  grid-template: 56px auto/1fr;
}
.header__mail {
  display: flex;
  height: 56px;
  padding: 0 24px;
  align-items: center;
  transition: var(--transition);
  font-weight: 700;
}
.header__mail:hover {
  background: #fff;
  color: var(--red);
}
.header__tel {
  display: flex;
  padding: 0 24px;
  justify-content: center;
  transition: var(--transition);
  font-weight: 700;
  flex-direction: column;
}
.header__tel:hover {
  background: #fff;
  color: var(--red);
}
.header__tel:hover span {
  opacity: 0.4;
  color: var(--black);
}
.header__tel span {
  display: block;
  font-weight: 400;
  opacity: 0.4;
  line-height: 1;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  position: relative;
}
.header__nav:after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 216px);
  height: 1px;
  background: var(--bordercolor);
  bottom: 0;
  left: 0;
}
.header__menu {
  display: flex;
}
.header__menu li {
  display: flex;
  position: relative;
}
.header__menu li a {
  display: flex;
  align-items: center;
  padding: 0 22px;
  transition: var(--transition);
  font-size: 16px;
  line-height: 149%;
}
.header__menu li a:hover {
  box-shadow: 0 -2px 0 0 var(--red) inset;
}
.header__menu li ul {
  top: 110%;
  opacity: 0;
  visibility: hidden;
  min-width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background: #fff;
  padding: 14px 0;
  transition: var(--transition);
  border: 1px solid var(--bordercolor);
  z-index: 100;
}
.header__menu li ul li {
  display: flex;
  justify-content: stretch;
}
.header__menu li ul li a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: var(--transition);
  width: 100%;
  line-height: 1.1;
}
.header__menu li ul li a:hover {
  color: var(--red);
  box-shadow: none;
}
.header__menu li:hover ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header__menu li:hover > a {
  box-shadow: 0 -2px 0 0 var(--red) inset;
}
.header__btngroup {
  display: flex;
}
.header__btngroup li {
  display: flex;
}
.header__btngroup li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  transition: var(--transition);
  border-left: 1px solid var(--bordercolor);
}
.header__btngroup li a svg {
  fill: transparent;
  width: 24px;
  height: 24px;
  stroke: var(--blue);
  transition: var(--transition);
}
.header__btngroup li a:hover {
  background: var(--red);
}
.header__btngroup li a:hover svg {
  stroke: #fff;
}
.header__cat-search {
  display: grid;
  grid-template: 1fr/150px auto;
  height: 72px;
}
.header__search {
  display: grid;
  grid-template: 1fr/auto 72px;
}
.header__search-input {
  height: 72px;
  border: 1px solid transparent;
  padding: 0 30px;
}
.header__search-btn {
  background: var(--blue);
  transition: var(--transition);
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
}
.header__search-btn svg, .header__search-btn img {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #fff;
  transition: var(--transition);
}
.header__search-btn:hover {
  background: var(--gray);
  border-color: var(--blue);
}
.header__search-btn:hover svg {
  stroke: var(--blue);
}
.cat-wrap {
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
  border-right: 1px solid var(--bordercolor);
  cursor: pointer;
  transition: var(--transition);
}
.cat-wrap > svg {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  fill: var(--red);
  transition: var(--transition);
}
.cat-wrap > svg:last-child {
  opacity: 0;
}
.cat-wrap:hover {
  background: var(--red);
  color: #fff;
}
.cat-wrap:hover svg {
  fill: #fff;
  opacity: 0;
}
.cat-wrap:hover svg:last-child {
  opacity: 1;
}
.cat-wrap:hover a {
  color: var(--black);
}
.cat-wrap:hover .cat {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.cat {
  top: calc(100% + 20px);
  opacity: 0;
  visibility: hidden;
  min-width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -1px;
  background: #fff;
  padding: 0;
  transition: var(--transition);
  border: 1px solid var(--bordercolor);
  border-top: 0;
  z-index: 100;
}
.cat li {
  position: relative;
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid var(--bordercolor);
}
.cat li a {
  padding: 20px;
  display: flex;
  align-items: center;
  transition: var(--transition);
  width: 100%;
  line-height: 1.3;
  font-weight: 600;
}
.cat li a:hover {
  background: var(--gray);
  box-shadow: 2px 0 0 0 var(--red) inset;
}
.cat li button {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.cat li button svg {
  width: 12px;
  height: 20px;
  stroke: var(--red);
  stroke-width: 1.5;
  fill: transparent;
}
.cat li ul {
  opacity: 0;
  visibility: hidden;
  min-width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  background: #fff;
  padding: 0;
  transition: var(--transition);
  border: 1px solid var(--bordercolor);
  z-index: 100;
  top: 20px;
  opacity: 0;
  visibility: hidden;
}
.cat li ul li {
  position: relative;
  display: flex;
  justify-content: stretch;
  border-bottom: 0;
}
.cat li ul li a {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  transition: var(--transition);
  width: 100%;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
}
.cat li ul li a:hover {
  background: transparent;
  box-shadow: none;
  color: var(--red);
}
.cat li ul li ul {
  padding: 0px;
}
.cat li ul li ul li a {
  padding: 6px 20px;
}
.cat li ul li ul li:first-child a {
  padding-top: 16px;
}
.cat li ul li:first-child > a {
  padding-top: 16px;
}
.cat li ul li:last-child > a {
  padding-bottom: 16px;
}
.cat li:hover > ul {
  top: -1px;
  opacity: 1;
  visibility: visible;
}
.cat li:last-child {
  border-bottom: 0;
}/*# sourceMappingURL=header.css.map */