.products {
    &__list {
        display: grid;
        grid-template: auto / repeat(4, 1fr);
        gap: 24px;
    }
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bordercolor);
    &__link {
        display: flex;
        flex-direction: column;
        transition: var(--transition);
        &:hover{
            background: var(--gray);
            +.btn{
                //background: var(--gray);
                &:after {
                    //background-color: transparent;
                    
                }
            }
        }
    }

    &__name {
        display: flex;
        align-items: center;
        padding: 0 26px;
        height: 80px;
        border-bottom: 1px solid var(--bordercolor);

        &-inner {
            font-weight: 600;
            font-size: 20px;
            line-height: 135%;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__pic-wrap {
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--bordercolor);
    }

    &__pic {
        max-width: 90%;
        max-height: 90%;
    }

    &__desc {
        padding: 24px;
        display: flex;
        gap: 30px;
    }

    &__desc-about {
        font-size: 14px;
        line-height: 158%;
        text-transform: uppercase;
        opacity: .5;
        white-space: nowrap;
    }

    &__desc-text {
        height: 88px;
        overflow: hidden;
        font-size: 14px;
        display: block;
    }

    .btn{
        margin: 0 -1px -1px -1px;
    }
}